/* || CHECKOUT */

.main__checkout > div {
  display: grid;
  gap: 16px;
}

.order-summary {
  color: var(--neutral-color-black);
}

.order-summary hr {
  margin: 0;
  color: var(--secondary-color);
}

.order-summary__item-details {
  font-size: var(--font-size-paragraph-medium);
}

.order-summary__item-price {
  font-size: var(--font-size-paragraph-large);
}

.order-summary__item-total {
  font-size: var(--font-size-heading-third);
}

.order-summary__image {
  max-width: 124px;
  max-height: 124px;
}

.p-text span {
  color: var(--secondary-color);
}

.order-card {
  display: flex;
  padding-top: 2rem;
}

.order-card .product-card {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;
}

.p-trash {
  cursor: pointer;
}

.p-text-trash,
.p-number-price,
.p-number {
  display: flex;
  justify-content: space-between;
}

.p-text-trash {
  flex-wrap: nowrap;
}

.p-number-price {
  flex-wrap: wrap;
}

.p-number {
  align-items: center;
}

.p-number span,
.p-number p {
  padding-right: 1rem;
}

.order-summary__total {
  display: none;
}

.order-form {
  font-size: var(--font-size-paragraph-large);
}

.order-form h2 {
  display: none;
}

.order-form h3 {
  font-size: var(--font-size-paragraph-large);
  text-align: center;
  font-family: "new-science", sans-serif;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.order-form span {
  font-size: var(--font-size-paragraph-medium);
  font-weight: 500;
}

.order-form .button__secondary,
.order-form .button__primary {
  padding: 18px 24px;
}

.personal-details,
.shipping-address,
.payment-details {
  display: flex;
  flex-direction: column;
}

.payment-icons svg {
  padding-right: 4px;
  cursor: pointer;
}

.expiry-cvv {
  display: flex;
}

.expiry-cvv input {
  max-width: 88px;
}

.expiry {
  margin-right: 10.25rem;
}

.expiry,
.cvv {
  display: flex;
  flex-direction: column;
}

.form__checkout {
  font-size: var(--font-size-paragraph-medium);
}

.form__checkout label {
  padding-top: 1rem;
  padding-bottom: 4px;
}

.skylar-price,
.shipping-free,
.total-price {
  display: flex;
  justify-content: space-between;
}

.order-summary__total-mobile .order-summary__item-total {
  font-size: var(--font-size-paragraph-large);
}

.checkout-buttons {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.checkout-buttons a {
  margin-block: 0.5rem;
}

@media (min-width: 1000px) {
  .main__checkout > div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 2rem;
  }

  .order-summary {
    background-color: var(--primary-color-medium);
    color: var(--neutral-color-white);
    padding-inline: 104px;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .order-summary__total {
    display: flex;
    flex-direction: column;
  }

  .order-summary__total-mobile {
    display: none;
  }

  .p-text span {
    color: var(--secondary-color-light);
  }

  .order-form {
    padding-left: 104px;
  }

  .order-form h2 {
    display: block;
    font-size: var(--font-size-heading-primary);
  }

  .order-form h3 {
    text-align: left;
    font-family: "rocinante-titling-variable", sans-serif;
    font-size: var(--font-size-heading-third);
    font-weight: 600;
  }

  .order-form span {
    font-weight: 600;
  }
  .form__checkout {
    font-size: var(--font-size-paragraph-large);
  }

  .checkout-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    margin-block: 1rem;
  }

  .checkout-buttons .button__secondary {
    margin-right: 1rem;
  }

  .order-form .button__secondary,
  .order-form .button__primary {
    padding: 24px 36px;
    min-width: 242px;
  }
}
