/* || ICONS */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/*

Header:
- shopping_basket
- menu
- search

Product Cards:
- favorite (heart)

Checkout:
- delete (trash can)
- add_circle
- do_not_disturb_on (remove circle)
- visa (copied from figma)
- stripe (copied from figma)
- paypal (copied from figma)
- mastercard (copied from figma)
- google pay (copied from figma)

Products
- filer_alt

Jacket
- check
- circle (represents the color blue)
- expand_more

Breadcrumb
- chevron_right

Footer
- facebook (copied from figma)
- twitter (copied from figma)
- Instagram (copied from figma)
- LinkedIn (copied from figma)
- YouTube (copied from figma)


*/
