/* || JACKET */

.main__jacket > div {
  display: grid;
  gap: 16px;
  grid-template-areas:
    "breadcrumb"
    "p-p-showcase"
    "p-p-details";
}

.breadcrumb {
  grid-area: breadcrumb;
  font-size: var(--font-size-paragraph-small);
  padding-top: 0.5rem;
}

.breadcrumb ul {
  display: flex;
  align-items: center;
  padding: 0px;
}

.breadcrumb li {
  display: flex;
  align-items: center;
}

.breadcrumb--here {
  color: var(--secondary-color);
}

.product-page-showcase {
  grid-area: p-p-showcase;
  padding-bottom: 2rem;
}

.product-page-showcase__image img {
  max-height: 600px;
}

.showcase__image-sale {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.showcase__image-sale .on-sale {
  padding: 1rem 2rem;
  position: absolute;
  font-size: var(--font-size-paragraph-large);
}

.product-page-details {
  grid-area: p-p-details;
}

.product-page-details {
  font-size: var(--font-size-paragraph-large);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-page-details h1 {
  font-size: var(--font-size-heading-secondary);
  text-align: left;
  padding-top: 0;
}

.product-page-details .button__primary {
  padding: 18px 24px;
  cursor: pointer;
}

.product-page-details .button__secondary {
  padding: 18px 24px;
  margin: 0px 11px 0px 0px;
}

.product-page-details__links {
  text-decoration: underline;
  font-size: var(--font-size-paragraph-small);
}

.product-page-details__before-price {
  color: var(--secondary-color);
  text-decoration: line-through;
  font-size: var(--font-size-paragraph-small);
}

details {
  padding-bottom: 2rem;
  line-height: 1.2;
}

details summary {
  cursor: pointer;
}

details span {
  font-weight: 600;
}

details h2 {
  font-size: var(--font-size-heading-third);
}

details li {
  list-style-type: disc;
  padding-bottom: 0.5rem;
}

.product-page__top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-page__heading {
  display: flex;
  justify-content: space-between;
}

.product-page__heart {
  padding-top: 12px;
}

.product-page__price {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product-page__description,
.product-page__sizes,
.product-page__colors,
.product-page__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-page__colors p {
  width: max-content;
  cursor: pointer;
}

.included-warranty,
.included-shipping {
  gap: 0.5rem;
}

.size-buttons,
.color-buttons {
  cursor: pointer;
  gap: 1.5rem;
  font-weight: 500;
}

.size-buttons,
.color-buttons,
.included-shipping,
.included-warranty {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.size-buttons input,
.size-buttons label {
  margin: 0;
  line-height: 0;
  display: flex;
  align-items: center;
}

.label-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 50%;
  outline: none;
  background-color: var(--neutral-color-white);
  cursor: pointer;
  padding: 0;
}

input[type="radio"]:hover {
  outline: 6px solid #b8ccde65;
}

input[type="radio"]:checked {
  width: 16px;
  height: 16px;
  background-color: var(--primary-color-medium);
  border: 2px solid var(--neutral-color-white);
  outline: 1.5px solid var(--primary-color-medium);
}

.color-buttons span {
  color: #0074c7;
  background-color: #0074c7;
  border-radius: 50%;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radio-label input,
.radio-label label {
  margin: 0;
  line-height: 0;
}

#snackbar_added,
#snackbar_already-added,
#snackbar_size {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--neutral-color-white);
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 000, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#snackbar_added.snackbar-show,
#snackbar_already-added.snackbar-show,
#snackbar_size.snackbar-show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 1200px) {
  .main__jacket > div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "breadcrumb breadcrumb"
      "p-p-showcase p-p-details";
  }

  .product-page-showcase__image {
    max-width: 604px;
  }

  .product-page-details .button__primary {
    padding: 24px 36px;
  }

  .product-page-details .button__secondary {
    padding: 18px 24px;
  }
}
